* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin:0px;
    padding:0px;
}

header {
    background-color: #000;
    color:#fff;
    position:relative;
    overflow: auto;
}

header h2{
    margin:0px;
    padding: 0.5rem;
}

header nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
header nav ul li a {
    display: flex;
    padding:1rem 1rem;
    color:#fff;
    text-decoration: none;
    border-bottom: 1px solid #bbb;
}

header .hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:48px;
    height:48px;
    padding:0.25rem;
    position: absolute;
    right: 0.1rem;
    top:0.1rem;
}
header .hamburger div {
    width:80%;
    border-radius: 3px;
    background-color: #fff;
    height: 5px;
    margin: 5px 0px;
}

header nav {
    max-height: max-content;
    transition: max-height 1s ease;
}
header nav.hide{
    max-height: 0px;
}

@media (min-width:721px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@keyframes showPanel {
    0% {
        max-height: 0px;
    }
    99% {
        max-height: 300px;
    }
    100% {
        max-height: max-content;
    }
}

form {
    max-width: 720px;
    padding:1rem;
    margin: 1rem auto;
}

form label {
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    min-width: 200px;
}

form input, form textarea {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border:none ;
    border-bottom: 1px solid #000;
    min-width: 420px;
    outline: none;
}