* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
}
header {
    display: flex;
    justify-content: space-between;
    background-color:#000;
    color:#fff;
}

header h1 {
    margin:0;
    padding:10px;
    font-size: 1.25rem;
}

header nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

header nav ul li {
    display:inline;
    margin:0;
    padding:0;
}

header nav ul li a {
    display: inline-block;
    color:#fff;
    text-decoration:none;
    padding:0.8rem 1rem;
}


#start {
    background-color: #eee;
    color: #fff;
}

#start h2 {
    text-align: center;
}

.grandList {
    /* vw -> viewport width */
    max-width: 60vw;
    margin: 0.8rem auto;
}

.todoCards {
    display: flex;
    flex-wrap: wrap;
    margin: 0.8rem auto;
    max-width: 760px;
    padding: 0.8rem;
    background-color: #f4f4f4;
}

.card {
    box-sizing: border-box;
    flex: 1 1 30%;
    max-width: 200px;
    margin:0.5rem;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #000;
    padding: 0px 0.5rem;
}

.card img {
    width:200px;
    height:180px;
    object-fit: cover;
    margin-left:-0.5rem;
    margin-right: -0.5rem;
}

#start .boxmodel {
    background-color: purple;
    margin: 1rem 2rem;
    padding: 2.5rem;
    cursor: pointer;
    border: 2px solid #0f0;
    border-bottom: 2px dashed #fff;
    box-shadow: 5px 5px 10px #000;
    border-radius:24px;
}
#start .boxmodel:hover {
    border: 8px solid #0f0;
}

.roundbtn {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    background-color: blue;
    color:white;
    text-align: center;
    line-height: 4rem;
    border-radius: 50%;
    box-shadow: 3px 3px 5px #000;
    cursor: pointer;
    border: 2px solid #020258;
}

.hero {
    position: relative;
    width:100%;
    padding:0px;
    margin:0px;
    box-shadow: 0 3px 5px #000;
    height: 640px;
    overflow: hidden;
}

.hero .textContent {
    position: absolute;
    right: 4rem;
    top: 25%;
    text-shadow: 1px 1px 2px #fff;
    color:#fff;
}

.hero .textContent h2 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.hero .textContent p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    max-width: 300px;
 }

.hero .boxmodel{
    width:100%;
    height: 100%;
    padding:0px;
    margin:0px;
}
.hero .boxmodel img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.hero .roundbtn {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.fullimg img {
    width:100%;
    height: 100%;
    object-fit: cover;
}

.grid {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.padding {
    padding: 1rem;
}

.width960 {
    max-width: 960px;
    margin: 0 auto;
}

.flex-center{
    justify-self: center;
}

.text-center {
    text-align: center;
}

.bg-grey {
    background-color: #f4f4f4;
}

.grid .row {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.grid .row.reverse{
    flex-direction: row-reverse;
}

.grid [class*="stretch"] {
    align-self: stretch;
}

.grid .col-1 {
    flex: 0 0 calc(100% / 12 );
}
.grid .col-2 {
    flex: 0 0 calc(100% / 6);
}

.grid .col-3 {
    flex: 0 0 calc(100% / 4);
}

.grid .col-4 {
    flex: 0 0 calc(100% / 3);
}

.grid .col-5 {
    flex: 0 0 calc(100% / 12 * 5);
}

.grid .col-6 {
    flex: 0 0 calc(100% / 2);
}

.grid .col-7 {
    flex: 0 0 calc(100% / 12 * 7);
}

.grid .col-8 {
    flex: 0 0 calc(100% / 12 * 8);
}

.grid .col-9 {
    flex: 0 0 calc(100% / 12 * 9);
}

.grid .col-10 {
    flex: 0 0 calc(100% / 12 * 10);
}

.grid .col-11 {
    flex: 0 0 calc(100% / 12 * 11);
}

.grid .col-12 {
    flex: 0 0 100%;
}

@media (min-width:768px) {
 body{
    background-color: #0f0;
 }
}

@media (min-width:1025px) {
body{
    background-color: burlywood;
}
}

@media (min-width:1200px) {
body {
    background-color: #0f0;
}
}